body{
    background-image: url('wallpaperflare.com_wallpaper\ \(3\).jpg');
    backdrop-filter: blur(3px);
}
.forget{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    

}
.forget:hover{
    color:aqua;
    font-size: 20px;

}
.first{
    border-radius: 30px;
}
.remember {
color:white;
font-weight: lighter;
font-size: 15px;

}

.login{
position: relative;
top: 80px;
width: 450px; 
height: 300px; 
padding: 30px; 
margin: 30px;
border-radius: 30px;
padding-left: 50px;
background-color: ;

padding-left: 50px;



}
.heading{
    position: fixed;
    left: 400px;
    top: -40px;
    outline: 2px solid red;
    width: 500px;
    color: white;
    text-shadow: 10px 10px 50px red;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    font-family:sans-serif;
    margin-top: 50px;
    padding: 5px;
    
}
.heading:hover{
    
    outline: 3px solid blue;
    color: white;
    text-shadow: 10px 5px 20px blue;
}
.social{
    position: relative;
    bottom: -25;
    margin-top: 10px;
}
.first{
    color: white;
    background-color: rgba(34, 33, 33, 0.623);
    
    width: 400px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    border-color: aqua;
    border-width: 3px;

   
}
.details{
    box-sizing: content-box;
    background-color:;
    width: 105%;
    height: 150px;

    margin-top: 100px;
    margin-left: -10;
    text-align: center;
}
.secound{
    color: white;
    background-color: rgba(47, 47, 235, 0.705);
    width: 400px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    height: 35px;
    font-weight: bolder;
    
    
}
.secound:hover{
    color: aqua;
    text-shadow: 1px 1px 30px aqua;
    font-size: 20px;
}
.third{
    color: white;
    background-color: rgba(248, 37, 37, 0.767);
    width: 400px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    height: 35px;
    font-weight: bolder;
}
::placeholder{
        color: white;
        font-weight: ;
}
